<%= form_for(@pokestop) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :latitude, id: "placemarker-lat" %>
  <%= f.hidden_field :longitude, id: "placemarker-lng" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
