<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokestop.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pokestop.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pokestop.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @pokestop.user %>
</p>

<%= link_to 'Edit', edit_pokestop_path(@pokestop) %> |
<%= link_to 'Back', pokestops_path %>
