<%= form_for(@pokespawn) do |f| %>
  <p>Select a pokemon then drag the pin below or press to indicate where the spawn was.</p>
  <div class="field">
    <%= render partial: "pokemon_list" %>
    <%= f.label :name, "Pokemon" %><br>
    <%= f.text_field :name %>
  </div>
  <%= f.hidden_field :latitude, id: "placemarker-lat" %>
  <%= f.hidden_field :longitude, id: "placemarker-lng" %>
  <%= f.hidden_field :pokemon_id, id: "poke-id" %>
  <%= f.hidden_field :pokeicon, id: "poke-icon" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
